.header__line {
    width: 880px;
    height: 0px;
    opacity: 0.7;
    border: 1px solid #545454;
}

@media screen and (max-width: 900px) {
    .header__line {
        width: 550px;
    }
}

@media screen and (max-width: 670px) {
    .header__line {
        width: 318px;
    }
}