.footer__text {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    width: 318px;
    height: 18px;
    margin: 0 auto 60px 200px;
}

@media screen and (max-width: 670px) {
    .footer__text {
        font-size: 14px;
        line-height: 17px;
        width: 282px;
        height: 14px;
        margin: 0 auto 36px 19px;
    }
}