.profile__name {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    width: 294px;
    height: 39px;
    margin: 0 0 16px;
}

@media screen and (max-width: 670px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        margin: 0 auto 14px;
        width: 189px;
        height: 26px;
        text-align: center;
    }
}